.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  .react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
   
  }
  .react-horizontal-scrolling-menu--arrow-left, .react-horizontal-scrolling-menu--arrow-right {
    align-items: center;
  }

  #scroller [type=button]:not(:disabled), #scroller [type=reset]:not(:disabled),
  #scroller [type=submit]:not(:disabled),#scroller button:not(:disabled) {
    cursor: pointer;
    width: 7cqw;
    height: 7cqw;
    border-radius: 50% !important;
    background-color: var(--color-gray);
}
#scroller [type=button]:disabled,
#scroller [type=reset]:disabled,
#scroller [type=submit]:disabled,
#scroller button:disabled {
  cursor: pointer;
  width: 7cqw;
  height: 7cqw;
  border-radius: 50% !important;
  background-color: var(--color-gray);
}


#scroller .card {
  height: 100%;
  padding: clamp(16px, 1.5cqw, 44px);
}

#scroller .card h2 a{
  color: var(--color-text);
  text-decoration: none;
  font-weight: 900;
  
}
  
#scroller .card h2 {
  margin-top: clamp(16px, 2cqw, 32px) !important;
}
/* scroller home */
#scroller-home h2 {
  font-size: clamp(20px, 1.85cqw, 32px);
  color: var(--color-secondary);
  padding-top: clamp(18px, 1.25cqw, 32px);
}

#scroller-home button {
  background-color: rgb(218, 218, 218);
}

#scroller-home .card {
  height: 100%;
  padding: clamp(16px, 1.5cqw, 44px);
  border: inherit;
  background-color: inherit;
}

#scroller-home .card h3 a{
  color: var(--color-text);
  text-decoration: none;
  font-weight: 900;
  font-size: clamp(20px, 2cqw, 32px);
  line-height: 1;
  display: inline-block;
}
  
#scroller-home .card h3 {
  margin-top: clamp(16px, 2cqw, 32px) !important;
  line-height: 1;
}

/* scroller pubs */
#scroller-pubs h2 {
  font-size: clamp(20px, 1.85cqw, 32px);
  color: var(--color-text);
  padding-top: clamp(18px, 1.25cqw, 32px);
}

#scroller-pubs button {
  background-color: rgb(218, 218, 218);
}

#scroller-pubs .card {
    height: 100%;
    padding: clamp(16px, 1.5cqw, 44px);

      border: none;
      box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    
}

#scroller-pubs .card h3 a{
  color: var(--color-text);
  text-decoration: none;
  font-weight: 900;
  font-size: clamp(20px, 2cqw, 32px);
  line-height: 1;
  display: inline-block;
}
  
#scroller-pubs .card h3 {
  margin-top: clamp(16px, 2cqw, 32px) !important;
  line-height: 1;
}