:root {
  --border-radius: 4px;
  --color-text: #1B2B62;
  --color-primary: #7026b9;
  --color-secondary: #981D9A;
  --color-code-bg: #EBFF00;
  --color-tertiary: #DFF3FF;
  --color-quadrary: #6FCCDD;
  --color-gray: #e7e7e7;
  --color-klab-blue: #3953A4;
  --color-klab-green: #6ABD45;
  --color-klab-orange: #F37121;
  --color-klab-sky: #6FCCDD;
  --color-klab-magenta: #ED1D7E;
  --color-klab-lavender: #B9529F;
  --color-klab-red: #ED2024;
  --color-klab-yellow: #F7EC13;

  --font-sans: 'Hind', sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-xl: 24px;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --space-7: 96px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
  
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-sans);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
strong {
  font-weight: 900;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}

h1>b {
  color: var(--color-primary);
}

h2 {
  font-size: clamp(20px, 1.85cqw, 32px)!important;
}

img {
  border-style: none;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}

ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}

b,
strong,
dt,
th {
  font-weight: bold;
}

li {
  margin-bottom: calc(var(--space-4) / 2);
}

ol li,
ul li {
  padding-left: 0;
}

li>ol,
li>ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li>p {
  margin-bottom: calc(var(--space-4) / 2);
}

p {
  max-width: 680px;
  font-family: var(--font-sans);
  font-weight: 300;
}

code {
  font-size: 0.875rem;
}

kbd {
  font-size: 0.875rem;
}

samp {
  font-size: 0.875rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}

pre code {
  background: none;
}

code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

/* +++++++  */

#gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

footer {
  z-index: 2;
}
footer p {
  line-height: 1.2;
  margin-bottom: 0;
}
footer p a {
  color: var(--color-klab-sky);
  text-decoration: none;;
}
footer .footer-deets {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

button {
  background-color: var(--color-code-bg);
  border: 0;
  border-radius: var(--space-2) !important;
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
  padding-left: var(--space-3);
  padding-right: var(--space-3);

  font-weight: 900;
}

#gatsby-focus-wrapper {
  position: relative;
  height: inherit;
}


#numbers {
  padding-top: var(--space-7);
  padding-bottom: var(--space-7);
  color: var(--color-text);

}

#numbers.container [class^="col-"] {
  align-self: flex-start;
}

#numbers p strong {
  font-weight: 900;
}
#numbers h2 {
  font-size: clamp(30px, 11cqw, 60px) !important;
  /* font-size: clamp(20px, 1.85cqw, 32px); */
}

#numbers h2,
.numbers-style p {
  color: var(--color-text);
  position: relative;
}

#numbers h2::before {
  content: "\00a0";
    color: #9F1FA1;
    position: absolute;
    left: calc(-1 * var(--font-md) + 4px);
    /* margin-left: calc(-1 * var(--font-md)); */
    border-left: 2px solid #9f1fa1;
    height: 80%;
}

#research p {
  font-size: clamp(16px, 2cqw, 24px);
  max-width: inherit;
}
#research p strong {
  font-weight: 900;
  font-size: clamp(24px, 3cqw, 42px);
}
#research ul li {
  line-height: 1.2;
  margin-top: clamp(12px, 1cqw, 30px);
}
/* PARTNERS SECTION */

#partners {
  padding-top: var(--space-5);
  padding-bottom: var(--space-7);
}

#partners .row .col-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#partners .row .col-3 img {
  width: 90%;
  height: auto;
}

#partners .container .row:nth-of-type(even) {
  padding-bottom: var(--space-7);

}

#partners h2 {
  color: var(--color-secondary);
}

#partners .row:nth-of-type(odd) {
  padding-bottom: clamp(16px, 5cqw, 60px)
}

#partners .row:nth-of-type(even) {
  padding-bottom: clamp(16px, 10cqw, 60px)
}

/* INITIATIVES SECTION */

#initiatives-header.container-fluid {
  margin-bottom: var(--space-7);
    position: relative;
    padding-top: var(--space-7);
    padding-bottom: var(--space-7);
  
}

#initiatives-header .background {
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 70%, 100% 0);
  position: absolute;
  min-height: 400px;
  height: 60vh;
  width: 100vw;
  top: 0;
  background:  #f7f7f7;
  z-index: -3;
}

#initiatives-header h1 {
  line-height: var(--line-height-dense);
  color: var(--color-secondary);
  font-size: clamp(40px,5cqw,60px);
}
#initiatives-header p {
  color: var(--color-text);
  line-height: var(--line-height-normal);
}

#initiatives {
  padding-bottom: var(--space-6);
}

#initiatives strong {
  font-weight: 900;
}
#initiatives h2{
  font-size: clamp(20px, 2cqw, 32px);
  font-size: clamp(20px, 1.85cqw, 32px);
  color: var(--color-text);
  line-height: var(--line-height-dense);
}
#initiatives h4 {
  color: var(--color-secondary);
}
#initiatives p {
  line-height: var(--line-height-normal);
}
.init-btn.btn {
  background-color: var(--color-klab-blue);
  outline: none;
  border: none;
}
.init-btn.btn:hover {
  background-color: var(--color-klab-lavender);
}
.modal-content strong{
  font-weight: 900;
}

.container-fluid #initiatives .container [class^="col-"] {
  align-self: flex-start
}

.paper ul{
  padding-left: 0;
}
.paper ul li span {
  font-weight: 900;
}
.paper ul li {
font-size: clamp(11px, 1cqw, 16px)
}
.paper ul li a{
  color: var(--color-secondary)
}

#initiatives button {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

#initiatives .accordion {
  --bs-accordion-border-color: none;
  padding-bottom: var(--space-7);
}
#initiatives .accordion button{
  padding: 0;
}
#initiatives .accordion-button:not(.collapsed) {
  background-color: var(--color-gray);
  border: none;
}
#initiatives .accordion-button:focus {
  box-shadow: none;
}
#initiatives .accordion-body {
  padding-left: 0 !important;
  font-family: var(--font-sans);
}

#initiatives .accordion button {
  padding: clamp(10px, .5cqw, 20px);
  background-color: var(--color-secondary);
  width: auto;
  color: white;
}

#initiatives a img {
  width: 100%;
}

#initiatives .accordion button::after {
  background-image: none;
  width: initial;
}




#initiatives-header h1 {
  font-size: clamp(40px,5cqw,60px);
  line-height: var(--line-height-dense);

}

#initiatives-header p {
  font-size: var(--font-xl)
}

#initiatives .morph {
  position: relative;
}

#initiatives .morph img {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023F92;
  width: 18vmax;
  z-index: -1;
  /* animation: move 10s ease-in-out infinite; */
  transform-origin: 50% 50%;
}
#initiatives .paper p {
  line-height: var(--line-height-normal)
}


@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }

  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  100% {
    transform: scale(1) translate(10px, -30px);
  }
}

.container-fluid .container [class^="col-"]{
  align-self: center;;
}

/* CAREERS SECTION */

#careers-header.container-fluid {
  position: relative;
  padding-top: var(--space-5);
  padding-bottom: var(--space-7);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#careers-header.container-fluid > .container {
  padding-top: var(--space-6);
}

#careers-header .d-sm-block.col-sm-3 {
  position: relative;
}
#careers-header .apply-now {
  width: 60%;
    border-radius: 50%;
    background-image: linear-gradient(-24deg, var(--color-klab-blue) 30%, var(--color-klab-sky ) 70%);
    position: relative;
    padding-top: 60%;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    z-index: 2;
}

#careers-header .join-now {
    width: 60%;
    border-radius: 50%;
    background-image: linear-gradient(-24deg, var(--color-klab-red) 30%, var(--color-klab-orange ) 70%);
    position: relative;
    padding-top: 60%;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    transform: translate(-25%, -25%);
    z-index: 1;
    
}


#careers-header a {
  color: var(--color-klab-yellow);
}

#careers-header .apply-now a, #careers-header .join-now a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: clamp(16px, 6cqw, 32px);
  text-align: center;
  font-weight: 900;
  justify-content: center;
  padding: clamp(16px, 1cqw, 32px);
}

#careers-header h1{
  color:white;
  /* color:var(--color-text); */
  line-height: var(--line-height-dense);
  font-size: clamp(40px,5cqw,60px);
}
#careers-header p {
  color: white;
  /* color: var(--color-text); */
  line-height: var(--line-height-normal);
}

#careers-header h1 {
  font-size: clamp(40px, 5cqw, 60px);
  line-height: var(--line-height-dense);
}

#careers-header p {
  font-size: var(--font-xl)
}

#careers-header .background {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  /* background-image: linear-gradient(-10deg, #9F1FA1 30%, #55C1FD 70%); */
  background-image: linear-gradient(150deg, var(--color-klab-lavender) 30%, var(--color-klab-magenta ) 70%);
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0);
  /* Triangle shape */
  z-index: -2;
}



#careers h2 {
  color: var(--color-text);
  max-width: 680px;
  margin-top: var(--space-6);
}

#careers a>button {
  margin-bottom: var(--space-5);
}

#careers .container .sidebar>div {
  padding: clamp(10px, 3cqw, 28px);

}

#careers button {
  background-color: var(--color-secondary);
  color: white;
}

#careers .container .sidebar>div:nth-of-type(1) {
  
  background-color: var(--color-tertiary);
  border-left: 10px solid rgba(0, 0, 0, .2);
  margin-bottom: var(--space-5);
}

#careers .container .sidebar>div:nth-of-type(2) {
  background-color: var(--color-gray);
  border-left: 10px solid rgba(0, 0, 0, .2);
}

#careers .container .sidebar>div>h3 {
  font-size: var(--font-lg);
  color: var(--color-text);
}

#careers .container .sidebar>div>ol {
  font-size: var(--font-sm);
  margin-left: 0;
  padding-left: var(--font-sm);
}


/* TEAM SECTION */

#team img {
  border-radius: 50%;
  width: 100%;
  
}

#team .col-md-3, #team .col-md-9, #team .col-md-2, #team .col-md-4 {
  margin-bottom: var(--space-7);
}

#team-header {
  position: relative;
  padding-top: var(--space-5);
  padding-bottom: var(--space-7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#team-header .background {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  background: linear-gradient(176deg, var(--color-klab-red) 0%, var(--color-klab-blue) 50%, var(--color-klab-sky) 100%);
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0);
  z-index: -2;
}

#team-header.container-fluid > .container {
  padding-top: var(--space-6);
}


#team-header p {
  color: white;
  line-height: var(--line-height-normal);
}
#team-header h1 {
  font-size: clamp(40px,5cqw,60px);
  color: white;
  line-height: var(--line-height-dense);
}
#team h2 {
  font-size: clamp(16px, 3cqw, 40px);
  font-size: clamp(20px, 1.85cqw, 32px);
}

#team-header p {
  font-size: var(--font-xl)
}

#team-header .container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#team .container .row>.row {
  margin-bottom: var(--space-7);
}

#team button {
  background-color: var(--color-secondary);
  color: white;
  border: none;
}

#team #tabs {
  padding-left: 0;
  padding-right: 0;
}

#team #tabs img {
  width: 66%;
  margin-top: clamp(16px, 3cqw, 40px);

}
#team #tabs .col-sm-3.col-6 {
  margin-bottom: clamp(16px, 3cqw, 40px);
}

#team .team-tabber {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 10cqh;
}

#team .team-tabber>div {
  display: inline;
  list-style-type: none;
  text-align: center;
  font-weight: 900;
  padding: 1rem;
  background-color: #BEE0F5;
  border-top: 1px solid #BEE0F5;
  transition: .6s all;
  align-self: stretch;
  align-content: center;
  font-size: clamp(12px, 1.2cqw, 22px);
}

#team .team-tabber>div:hover {
  background-color: var(--color-quadrary);
}

#team .team-tabber div.active {
  background-color: inherit;
  border-top: 1px solid #eaeaea;
}

.modal-header, .modal-body, .modal-footer {
  padding-left:2cqw !important;
  padding-right:2cqw !important;
}

.modal-content p a {
  text-decoration: none;
  color: var(--color-klab-blue);
  /* border-bottom: 1px dotted var(--color-klab-blue) */
}
.modal-content p a svg {
  font-size: 80%;
}

.modal-content p svg {
  color: var(--color-klab-blue);
  margin-right: 2px;
}
.modal-header .title-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-header img {
  width:12cqw;
  border-radius: 50%;
  margin-right: 1cqw;
}
.modal-header button {
  align-self: flex-start;
}
.modal-footer button.btn-primary{
  background-color: var(--color-klab-blue);
  border: 0;
}


/* ABOUT SECTION */

#about-header .background {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  /* background-image: linear-gradient(-10deg, #9F1FA1 30%, #55C1FD 70%); */
  background: linear-gradient(176deg, #3a53a4 20%, #ed1c7e 50%, #FFD400 80%);
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0);
  /* Triangle shape */
  z-index: -2;

}

#about-header.container-fluid {
  position: relative;
  position: relative;
  padding-top: var(--space-5);
  padding-bottom: var(--space-7);
}


#about-header>.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5cqh;
  padding-bottom: 5cqh;

}
#about-header img {
  box-shadow: 0px 0px 15px rgba(0,0,0,.35);
  border-radius: var(--border-radius);
}

#about-header h1 {
  font-size: clamp(40px,5cqw,60px);
  line-height: var(--line-height-dense);
}

#about-header p {
  font-size: var(--font-xl)
}

#about-header h1 {
  color: white;
  line-height: var(--line-height-dense);
  font-size: clamp(40px,5cqw,60px);
}
#about-header p {
  color: white;
  line-height: var(--line-height-normal);
}


/* WORKSHOPS SECTION */

#workshops-header.container-fluid {
  position: relative;
  padding-top: var(--space-5);
  padding-bottom: var(--space-7);
  margin-bottom: var(--space-7);
}

#workshops-header .background {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  background: linear-gradient(170deg, var(--color-klab-blue) 0%, var(--color-klab-sky) 30%, var(--color-klab-magenta) 70%);
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0);
  /* Triangle shape */
  z-index: -2;
}
#workshops-header.container-fluid > .container {
  padding-top: var(--space-5);
}

#workshops-header h1 {
  font-size: clamp(40px,5cqw,60px);
  line-height: var(--line-height-dense);

}


#workshops-header p {
  font-size: var(--font-xl)
}

#workshops-header h1 {
  line-height: var(--line-height-dense);
  font-size: clamp(40px,5cqw,60px);
  color: white;
}
#workshops-header p {
  color: white;
  line-height: var(--line-height-normal);
}
#workshops .row {
  margin-bottom: var(--space-6);
}
#workshops p strong {
  font-weight: 900;
}
#workshops p + p {
  margin-bottom: 0;
}
#workshops a {
  color: var(--color-secondary);
  text-decoration:dotted;
}
#workshops a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* PUBLICATIONS */

#publications-header {
  margin-bottom: var(--space-6);;
  position: relative;
  /* padding-top: clamp(80px, 3cqh,150px); */
  height: auto;
}
#publications-header h1 {
  color: var(--color-klab-lavender)
}
#publications #pub-filters {
  margin-bottom: var(--space-1);
  margin-top: var(--space-1);
}
#publications .single-button {
  width: clamp(70px, 8cqw, 110px);
  height: clamp(70px, 8cqw, 110px);
  border-radius: 50%;
  background-color: var(--color-quadrary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
#publications.container-fluid .container [class^="col-"] {
  margin-bottom: var(--space-4);
}

#publications .single-button button {
  margin: 0 !important;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  font-size: clamp(9px, 1cqw, 14px);
  line-height: var(--line-height-dense);
  color: white;
}
/* Sticky filters */
#publications .sticky-filters {
  position: -webkit-sticky;
  position: sticky;
  top: 10%; /* Adjust as needed */
  z-index: 1;
  padding-top: clamp(24px, 2cqw, 48px);
  padding-bottom: clamp(24px, 2cqw, 48px);
}

#publications #pub-filters .justify-content-center.row:nth-of-type(1) .single-button:nth-of-type(1) {
  background-color: var(--color-klab-blue);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(1) .single-button:nth-of-type(2) {
  background-color: var(--color-klab-lavender);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(1) .single-button:nth-of-type(3) {
  background-color: var(--color-klab-red);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(1) .single-button:nth-of-type(4) {
  background-color: var(--color-klab-sky);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(2) .single-button:nth-of-type(1) {
  background-color: var(--color-klab-orange);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(2) .single-button:nth-of-type(2) {
  
  background-color: var(--color-klab-green);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(2) .single-button:nth-of-type(3) {
  background-color: var(--color-klab-blue);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(2) .single-button:nth-of-type(4) {
  background-color: var(--color-klab-yellow);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(2) .single-button:nth-of-type(5) {
  
  background-color: var(--color-klab-lavender);
}

#publications #pub-filters .justify-content-center.row:nth-of-type(3) .single-button:nth-of-type(1) {
  
  background-color: var(--color-klab-lavender);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(3) .single-button:nth-of-type(2) {
  background-color: var(--color-klab-sky);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(3) .single-button:nth-of-type(3) {
  background-color: var(--color-klab-red);
}
#publications #pub-filters .justify-content-center.row:nth-of-type(3) .single-button:nth-of-type(4) {

  background-color: var(--color-klab-orange);
}


#publications .single-button button:hover {
  background-color: rgba(255,255,255, 0.4);
  border: none;
  /* mix-blend-mode: color-burn;
  color: white; */
}


#publications .row .btn-primary{
  background-color: white;
  color: var(--color-text);
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

#publications-header h1 {
  font-size: clamp(40px,5cqw,60px);
  padding-top: clamp(20px,2.5cqw,30px);
}

#publications h3 a {
  text-decoration: none;
  color: var(--color-text);
  font-size: clamp(16px, 1.125cqw, 32px);
  transition: .5s all;
  font-weight: 600;
  margin-bottom: clamp(12px, 2cqw, 20px);
  display: block; 
  line-height: var(--line-height-normal);
}
#publications #feature-pubs img {
  margin-bottom: var(--space-4);

}
#publications .document-icon {
  width: 80%;
  max-width: 70px;
  height: fit-content;
  color: var(--color-quadrary);
  align-self: flex-start;
}

#publications h3 a:hover{
  background-color: #efefef;
  color: var(--color-primary)
}

#publications p strong {
  font-weight: 900;
  
}
#publications p {
  margin: 0;
}
#publications #pub-group h3{
  color: var(--color-klab-blue);
  margin-bottom: var(--space-4);
}
#publications #pub-group h4 a{
  color: var(--color-text);

}
#publications #pub-group a {
  color: var(--color-primary)
}
#publications #pub-group a {
  text-decoration: none !important;
}

#publications p > a {
  color: var(--color-quadrary);
}


#publications .sidebar {
  padding: clamp(16px, 2cqw, 20px);
  margin-bottom: clamp(16px, 2cqw, 20px);
  border-left: 10px solid var(--color-quadrary);
  box-shadow: 0px 3px 1px rgba(0,0,0,.1);
  background-color: white;
}
#publications .sidebar h4{
  font-size: clamp(16px, 1cqw, 20px);
  color: var(--color-text);
}

#publications.container-fluid .container [class^="col-"] {
  align-self: self-start;
}



/* NEWS SECTION */


#news-header.container-fluid {
  position: relative;
  padding-top: var(--space-5);
  padding-bottom: var(--space-7);
  margin-bottom: var(--space-7);

}
#news-header h1 {
  font-size: clamp(40px,5cqw,60px);
  color: white;
}
#news-header p {
  font-size: var(--font-xl);
  color: white;
}
#news-header .background {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  background-image: linear-gradient(150deg, var(--color-klab-red) 30%, var(--color-klab-magenta ) 50%, var(--color-klab-lavender) 80%);
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0);
  /* Triangle shape */
  z-index: -2;
}

#news h2 {
  font-size: clamp(16px, 1.5cqw, 40px);
  font-size: clamp(20px, 1.85cqw, 32px);
  color: var(--color-text);
}

.container-fluid .container [class^="col-"] {
  align-self: initial;
}
#news img {
  margin-bottom: var(--space-4);
}

#news .news-item img {
  margin-top: var(--space-2);
  box-shadow: 0px 10px 10px rgba(0,0,0,.2);
  width: 66%;
}
#news .news-item h3 a{
  color: var(--color-klab-blue);
  text-decoration: none;
  
}


#give-header.container-fluid {
  position: relative;
  position: relative;
  padding-top: var(--space-5);
  padding-bottom: var(--space-7);
}

#give-header h1 {
  font-size: clamp(40px,5cqw,60px);
  color: var(--color-klab-blue)
}

#give-header .background {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  /* background-image: linear-gradient(-10deg, #9F1FA1 30%, #55C1FD 70%); */
  background:  #f7f7f7;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0);
  /* Triangle shape */
  z-index: -3;

}

.give-div {
  background-color: var(--color-primary);
  background-image: linear-gradient(-24deg, var(--color-klab-blue) 30%, var(--color-klab-lavender) 70%);
  z-index: 10;
  width:clamp(230px, 25cqw, 600px);
  height:clamp(230px, 25cqw, 600px);
  border-radius: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,.25);
  transition: .7s all;
}
#give-header p {
  font-size: x-large
}
#give p {
  font-size: 1rem;
}

#give-header a {
  text-decoration: none !important;
}
 .give-div:hover{
  background-color: var(--color-quadrary)
}
.give-div a h3 {
  color: var(--color-klab-yellow);
}
.give-div a span, .give-div a h3 {
  text-decoration: none;
}
 .give-div a small {
  margin-top: var(--space-2);
 color:white;
 font-size: clamp(11px, 1cqw, 20px);
}
.give-div h3, .give-div span {
 color: white;
 padding: 0;
 margin: var(--space-1);
 font-size: clamp(20px, 3cqw, 68px);
}
.give-div span {
  font-size: clamp(16px, 2cqw, 38px)
}

nav ul li:hover {
  color: var(--color-quadrary);
}

@media only screen and (min-width: 576px) {
  #careers-header .apply-now a, #careers-header .join-now a {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: clamp(11px, 1.5cqw, 32px);
  }
}

@media only screen and (min-width: 767px) {

  #partners .row .col-3 > img {
    width: 60%;
    height: auto;
  }
  #news .news-item img {
    margin-top: var(--space-7);
    box-shadow: 0px 10px 10px rgba(0,0,0,.2);
    width: 66%;
  }
  #careers-header .apply-now a, #careers-header .join-now a {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: clamp(16px, 1.75cqw, 32px);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }
}

@media only screen and (min-width: 576px) {

#partners .row .col-3 > img {
  width: 70%;
  height: auto;
}
}