:root {
  --border-radius: 4px;
  --color-text: #1B2B62;
  --color-primary: #7026b9;
  --color-secondary: #9F1FA1;
  --color-code-bg: #EBFF00;
  --color-tertiary: #DFF3FF;
  --font-sans: 'Hind', sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-xl: 24px;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --space-7: 96px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-sans);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}

h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
  font-family: var(--font-sans);
  font-weight: 300;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

/* +++++++  */

#gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer {
  z-index: 2;
}

button {
  background-color: var( --color-code-bg);
  border: 0;
  border-radius: var(--space-2) !important;
  padding: var(--space-2);
  font-weight: 900;
  
}
button::after {
  content: " >"
}
a > button {
  margin-bottom: var(--space-7);
}


#numbers {
  padding-top: var(--space-7);
  padding-bottom: var(--space-7);
  color: var(--color-text);
  
}
#numbers h2 {
  font-size: 60px;
}
#numbers h2, .numbers-style p{
  color: var(--color-text);
  position: relative;
}
#numbers h2::before {
  content: "\007c";
  color: #9F1FA1;
  position: absolute;
  left: calc(-1 * var(--font-md) - 4px);
  /* margin-left: calc(-1 * var(--font-md)); */
}

#research p {
  font-size: var(--font-xl);
}

#initiatives {
  padding-bottom: var(--space-6);
}
#initiatives h2, #initiatives p{
  line-height: var(--line-height-dense);
}

#partners {
  padding-top: var(--space-7);
  padding-bottom: var(--space-7);
}
#partners .container .row:nth-of-type(even) {
  padding-bottom: var(--space-7);

}
#partners h2 {
  color: var(--color-secondary);
}

#careers-header > .container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vw;
}

#careers-header h1, #careers-header p {
  color: white;
  line-height: var(--line-height-normal);
  
} 
#careers-header h1 {
  font-size: 60px;
}
#careers-header p {
  font-size: var(--font-xl)
}
#careers-header .background{
  position: absolute;
  height: 30vw;
  width: 100vw;
  background-image: linear-gradient(-10deg, #9F1FA1 30%,  #55C1FD 70%);
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0); /* Triangle shape */
  z-index: -2;
}
#careers h2 {
  color: var(--color-text);
}
#careers .container .sidebar > div {
 padding: clamp(10px, 3cqw, 28px);
  
}
#careers button {
  background-color: var(--color-secondary);
  color: white;
}
#careers .container .sidebar > div:nth-of-type(1){
  background-color: var(--color-code-bg);
  border-left: 10px solid rgba(0,0,0,.2);
  margin-bottom: var(--space-5);
}
#careers .container .sidebar > div:nth-of-type(2){
  background-color: var(--color-tertiary);
  border-left: 10px solid rgba(0,0,0,.2);
}
#careers .container .sidebar > div > h3 {
  font-size: var(--font-lg);
  color: var(--color-text);
}
#careers .container .sidebar > div > ol{
  font-size: var(--font-sm);
  margin-left: 0;
  padding-left: var(--font-sm);
}